/* Footer Style */
.footer {
    background-color: darkgrey;
    padding: 40px 0;
}

.footer-logo {
    max-width: 100%;
    height: auto;
}

.footer-heading {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-list {
    list-style: none;
    padding: 0;
}

.footer-list li {
    margin-bottom: 5px;
}

/* Media Queries */

@media (max-width: 768px) {
    .footer {
        padding: 20px 0;
    }

    .footer-logo {
        max-width: 50%;
    }

    .footer-heading {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .footer-logo {
        max-width: 30%;
    }

    .footer-heading {
        font-size: 14px;
    }
}